body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7f52e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#barra-progreso {
    margin-bottom: 20px;
    text-align: center;
}

#titulo-progreso {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

progress {
    width: 100%;
    height: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 20px;
}

main {
    text-align: center;
}

#palabra-container {
    margin: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #444;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#seguir-button {
    background-color: #4CAF50;
    color: white;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#resultados {
    text-align: center;
    margin-top: 20px;
}

#resultados p {
    font-size: 1.5em;
    color: #333;
}

#resultados button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

#escuchar-button {
    background-color: #f3ef0e;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: rgb(98, 203, 230);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.modal-content h2 {
    color: #4CAF50;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}